*{box-sizing: border-box; padding: 0;margin: 0;}

#Header {
    color: black;
    width: 100%;
    height: 100px;

 
    top: 0;

    flex-wrap: wrap; 
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 20px;
    align-items: center;
    
}



nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav ul li a {
    text-decoration:none;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 30px;
    transition: 0.5s;
    border-radius: 10px;
}
nav ul li a:hover{
    box-shadow: 5px 5px 10px gray;
    background-color: rgb(51, 204, 196);
    color: black;
    transform: scale(0.5);
}
.banner1{ 
     margin-top: 20px;
    background-color: rgb(144, 197, 157);
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    text-align: center;
    overflow: hidden;
    line-height: 100vh;

}

#Sec2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Sec2 main {
    width: 600px;
    height: 500px;
    /* background-color: rgb(116, 146, 187); */
 
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 400px;
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
aside{
    width: 50%;
    height: 400px;
    /* border: 2px solid red; */
    margin: 0 20px 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

}
aside .art{
    width: 100%;
    height: 100px;
    /* background-color: rgb(156, 194, 135);
     */
    /* margin-bottom: 23px */
}
#Sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
    




@media screen and (max-width:782px) {
    #Header{
        height: max-content;
      


        
    }
    #logo{
        margin: auto;
        
    }
   
    #Sec1 .circles{
         margin: auto;
    }
   
    aside{
        
        margin-top: 20px;
        margin-left: 0px;
    }
  
   
    
}
@media screen and (max-width:1091px) {
  #Sec1{
    flex-direction: column;
    margin: 20px;
   
  }
  #Sec1 .circles{
    margin: 30px;
    
  
  }
  #Sec3{
    flex-direction: column;
    }
#Sec2{
    flex-direction: column;
   
  }
 
aside{
        
    width: 100%;
    margin-left: 0px;
    margin-top: 20px; 

}
#Sec2 main{
    width: 100%;
}


    
    
}
@media screen and (max-width:560px) {
    nav ul li a{
        font-size: x-small;
        margin: 0px;
    }
    #Sec2 main{
        width: 100%;
    }
    #logo{
        width: 50px;
        height: 50px;
        font-size: initial;
        
    }
    aside{
        
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
   }
   @media screen and (max-width:340px) {
    nav ul li a{
       padding-left: 5px;
    }

    
   }
  